
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Jarvis by John Renzo Sunico</title>
  <meta name="description" content="Jarvis Endpoint">
  <meta name="author" content="JohnRenzoSacloloSunico">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
    <h1>Hello, I am <strong>Jarvis</strong>!</h1>
    <p>You are not supposed to be here. To talk to me sign in to our slack account.</p>
</body>
</html>
